* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid red 2px; */
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  color: azure;
  font-family: "Manrope", sans-serif;
  min-height: 95vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

header a {
  text-decoration: none;
}

header a h1 {
  font-size: 2.5em;
  color: whitesmoke;
  /* text-transform: uppercase; */
}

header nav ul {
  display: flex;
  list-style-type: none;
}

/* header nav ul li a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 0.25em;
  margin: 0.25em;
} */

header nav ul li a {
  text-decoration: none;
  /* background-color: #000000; */
  font-size: 1.75em;
  /* border-radius: 5px; */
  padding: 0.25em;
  margin: 0.25em;
  transition: 0.125s;
  /* -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75); */
  font-weight: 700;
}

header nav ul li a:hover {
  border-bottom: solid 3px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  text-align: center;
}

main section {
  width: 50vw;
}

.page-title {
  font-size: 2.5em;
  color: whitesmoke;
  /* text-transform: uppercase; */
}

main section ul {
  display: inline-block;
  list-style-type: armenian;
  text-align: justify;
  list-style-position: inside;
}

main section {
  display: flex;
  flex-direction: column;
  /* border: solid red 2px; */
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  /* text-align-last: center; */
}

main section label,
main section input,
main section textarea,
.primaryButton {
  font-size: 1.125em;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.25em;
  margin: 0.125em;
  /* text-align: center; */
  /* text-align-last: center; */
  width: 100%;
}

.primaryButton {
  cursor: pointer;
}

.main-index {
  margin-top: 3em;
}

.main-index section {
  align-items: center;
  text-align: center;
  text-align-last: center;
}

.special-red {
  color: #ff8e8e;
}

.special-blue {
  color: #a0a0ff;
}

#video {
  margin: 1.5em;
}

#form-section {
  display: block;
}

.logo {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 128px;
}

.logo_index {
  width: auto;
  max-width: 256px;
}

.logout {
  cursor: pointer;
}

.progress-container {
  width: 100%;
  background-color: #333;
  border-radius: 5px;
  margin: 1em 0;
  display: none;
}

.progress-bar {
  width: 0;
  height: 10px;
  background-color: #a0a0ff;
  border-radius: 5px;
}

/* debug css - remove after done */

.hunter {
  border: solid blue 2px;
}
